@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
/* font-family: 'Black Ops One', cursive; */

/* backgroud css */
body {
  font-family: 'Black Ops One', cursive;
  font-size: 1.5em;
  margin:0 auto;
  background: url("images/sidewalk.png") repeat-x left 800px, url("images/bgbuilding.png") repeat-x left 350px, url("images/sky.png") repeat-x left 5px, linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(159,252,238,1) 28%,rgba(252,252,255,1) 40%) repeat-x;
}
#go{
  text-align: center;
  position: absolute;
  top:400px;
  left: 1650px;
  color: white;
  text-shadow: 3px 3px black;

}
#board {
  position: absolute;
  top:740px;
  width: 50px;
  height: 67px;
  text-align: center;
  animation-duration: 1s;
  color: white;
  text-shadow: 5px 5px black;

}
#board:hover {
  animation-name: jump;
}
@keyframes jump {
  0%, 25%, 50%, 0% {
  transform:         translateY(0)
}
25% {
  transform:         translateY(-30px)
}
}
#canvas {
  position: relative;
  margin: 0 auto;
  width: 13000px;
  height: 500px;
}
#instruct{
  position: absolute;
  top:600px;
  right: 800px;
  text-align: center;
}
/* font cssx */
.text1{
  text-align: center;
  position: absolute;
  overflow: hidden;
  min-width: 300px;
  top: 200px;
  right: 300px;
}

/* environment css */
.box1 {
  background-color: green;
  position: absolute;
  width: 20px;
  height: 25px;
  top: 790px;
  right: 250px;
  z-index: -1;
}
.box2 {
  background-color: darkblue;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 780px;
  right: 280px;
  z-index:-1;
}
.box3 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: 820px;
  z-index: 1;
}
.box4 {
  background-color: green;
  position: absolute;
  width: 20px;
  height: 25px;
  top: 790px;
  right: -950px;
  z-index: -1;
}
.box5 {
  background-color: darkblue;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 780px;
  right: -1080px;
  z-index:-1;
}
.box6 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -1520px;
  z-index: 1;
}
.box7 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -4920px;
  z-index: 1;
}
.box8 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -8420px;
  z-index: 1;
}

/* skateboard css */
.ad1 {
  display: block;
  position: absolute;
  top: 575px;
  right: -180px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 200px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.ad1:hover .overlay {
  opacity: 1;
}

.ad2{
  display: block;
  position: absolute;
  top: 725px;
  right: -1980px;
}
.ad2:hover .overlay {
  opacity: 1;
}

.ad3{
  display: block;
  position: absolute;
  top: 620px;
  right: -3780px;
  z-index: -1;
}
.overlay2{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 100px;
  width: 75px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.overlay3{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 475px;
  right: 0;
  height: 100px;
  width: 75px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.ad3:hover .overlay2{
  opacity: 1;
}
.ad3:hover .overlay3{
  opacity: 1;
}

.skatepark {
  position: absolute;
  right:-12000px;
  top:475px;
  z-index: -1;
}

/* font css */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
}

#title {
  text-align: center;
  position: absolute;
  top: 100px;
  right: 800px;
  color: white;
  text-shadow: 5px 5px black;
}

#title2{
  text-align: center;
  position: absolute;
  top: 200px;
  right: 675px;
  color: black;
}
