@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
/* font-family: 'Black Ops One', cursive; */

/* backgroud css */
body {
  font-family: 'Black Ops One', cursive;
  font-size: 1.5em;
  margin:0 auto;
  background: url("images/sidewalk.png") repeat-x left 800px, url("images/bgbuilding.png") repeat-x left 350px, url("images/sky.png") repeat-x left 5px, linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(159,252,238,1) 28%,rgba(252,252,255,1) 40%) repeat-x;
}
/* #go{
  text-align: center;
  position: absolute;
  top:400px;
  left: 1650px;
  color: white;
  text-shadow: 3px 3px black;

} */
#board {
  position: absolute;
  top:740px;
  width: 50px;
  height: 67px;
  text-align: center;
  animation-duration: 1s;
  color: white;
  text-shadow: 5px 5px black;

}
#board:hover {
  animation-name: jump;
}
@keyframes jump {
  0%, 25%, 50%, 0% {
  transform:         translateY(0)
}
25% {
  transform:         translateY(-30px)
}
}
#canvas {
  position: relative;
  margin: 0 auto;
  width: 15000px;
  height: 500px;
}
#instruct{
  position: absolute;
  top:600px;
  right: 800px;
  text-align: center;
}
/* font cssx */
.text1{
  text-align: center;
  position: absolute;
  overflow: hidden;
  min-width: 300px;
  top: 200px;
  right: 300px;
}

/* environment css */
.box1 {
  background-color: green;
  position: absolute;
  width: 20px;
  height: 25px;
  top: 790px;
  right: 250px;
  z-index: -1;
}
.box2 {
  background-color: darkblue;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 780px;
  right: 280px;
  z-index:-1;
}
.box3 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: 820px;
  z-index: 1;
}
.box4 {
  background-color: green;
  position: absolute;
  width: 20px;
  height: 25px;
  top: 790px;
  right: -950px;
  z-index: -1;
}
.box5 {
  background-color: darkblue;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 780px;
  right: -1080px;
  z-index:-1;
}
.box6 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -1520px;
  z-index: 1;
}
.box7 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -5320px;
  z-index: 1;
}
.box8 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -9420px;
  z-index: 1;
}

/* skateboard css */
.ad1 {
  display: block;
  position: absolute;
  top: 575px;
  right: -180px;
}
.overlay {
  position: absolute;
  top: -300px;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 200px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.ad1:hover .overlay {
  opacity: 1;
}

.ad2{
  display: block;
  position: absolute;
  top: 725px;
  right: -1980px;
}
.ad2:hover .overlay {
  opacity: 1;
}

.ad3{
  display: block;
  position: absolute;
  top: 520px;
  right: -8780px;
  z-index: -1;
}
.overlay2{
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 100px;
  width: 75px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.overlay3{
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 475px;
  right: 0;
  height: 100px;
  width: 75px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.ad3:hover .overlay2{
  opacity: 1;
}
.ad3:hover .overlay3{
  opacity: 1;
}

.ad4{
  display: block;
  position: absolute;
  top: 385px;
  right: -3980px;
  z-index: -1;
}
.overlay0{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  color: white;
}
.overlay1{
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 1075px;
  right: 0;
  height: 350px;
  width:300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  color: white;
}
.ad4:hover .overlay0 {
  opacity: 1;
}
.ad4:hover .overlay1 {
  opacity: 1;
}

.skatepark {
  position: absolute;
  right:-12000px;
  top:420px;
  z-index: -1;
}
.overlay7{
  position: absolute;
  top: 125px;
  bottom: 0;
  left:350px;
  right: 0;
  height: 250px;
  width:400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  color: white;
}
.skatepark:hover .overlay7{
    opacity: 1;
}
.skaters1 {
  position: absolute;
  right:-3500px;
  top:775px;
  z-index: 1;
}.skaters2 {
  position: absolute;
  right:-8900px;
  top:775px;
  z-index: 1;
}
.skaters3 {
  position: absolute;
  right:-11500px;
  top:775px;
  z-index: 1;
}
.skaters4 {
  position: absolute;
  right:-6300px;
  top:775px;
  z-index: 1;
}


.truck1{
  display: block;
  position: absolute;
  top: 725px;
  right: -4980px;
}
.overlay8 {
  position: absolute;
  top: -500px;
  bottom: 0;
  left: 350px;
  right: 0;
  height: 450px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.truck1:hover .overlay8 {
  opacity: 1;
}

.vhs {
  display: block;
  position: absolute;
  top: 570px;
  right: -6700px;
  z-index: -1;
}
.overlay4 {
  position: absolute;
  top: -400px;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 350px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.vhs:hover .overlay4 {
  opacity: 1;
}
.overlay5 {
  position: absolute;
  top: -400px;
  bottom: 0;
  left: 650px;
  right: 0;
  height: 350px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.vhs:hover .overlay5 {
  opacity: 1;
}

.car1{
  display: block;
  position: absolute;
  top: 800px;
  right: -300px;
}
.car2{
  display: block;
  position: absolute;
  top: 800px;
  right: -8000px;
  z-index: 2;
}
.car3{
  display: block;
  position: absolute;
  top: 800px;
  right: -11700px;
  z-index: 2;
}
.car4{
  display: block;
  position: absolute;
  top: 800px;
  right: -3700px;
  z-index: 2;
}
.car5{
  display: block;
  position: absolute;
  top: 800px;
  right: -10000px;
  z-index: 2;
}
.xgames{
  display: block;
  position: absolute;
  right:-10300px;
  top:400px;
  z-index: -2;
}
.overlay6{
  position: absolute;
  top: 150px;
  bottom: 0;
  left:550px;
  right: 0;
  height: 250px;
  width:470px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  color: white;
}
.xgames:hover .overlay6{
    opacity: 1;
}
.overlay9{
  position: absolute;
  top: 50px;
  bottom: 0;
  left:-450px;
  right: 0;
  height: 350px;
  width:470px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  color: white;
}
.xgames:hover .overlay9{
    opacity: 1;
}

/* font css */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
}

#title {
  text-align: center;
  position: absolute;
  top: 100px;
  right: 800px;
  color: white;
  text-shadow: 5px 5px black;
}

#title2{
  text-align: center;
  position: absolute;
  top: 200px;
  right: 675px;
  color: black;
}
