@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
/* font-family: 'Black Ops One', cursive; */

/* backgroud css */
body {

  font-family: 'Black Ops One', cursive;
  font-size: 1.3em;
  margin:0 auto;
  background: url("images/sidewalk.png") repeat-x left 800px, url("images/bgbuilding.png") repeat-x left 350px, url("images/sky.png");
}
#board {
  position: absolute;
  top:750px;
  width: 50px;
  height: 67px;
  text-align: center;
  color: blue;
}

#canvas {
  position: relative;
  margin: 0 auto;
  width: 12000px;
  height: 500px;
}

/* environment css */
.box1 {
  background-color: green;
  position: absolute;
  width: 20px;
  height: 25px;
  top: 790px;
  right: 250px;
  z-index: -1;
}
.box2 {
  background-color: darkblue;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 780px;
  right: 280px;
  z-index:-1;
}
.box3 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: 820px;
  z-index: 1;
}
.box4 {
  background-color: green;
  position: absolute;
  width: 20px;
  height: 25px;
  top: 790px;
  right: -950px;
  z-index: -1;
}
.box5 {
  background-color: darkblue;
  position: absolute;
  width: 80px;
  height: 35px;
  top: 780px;
  right: -1080px;
  z-index:-1;
}
.box6 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -1520px;
  z-index: 1;
}
.box7 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -4920px;
  z-index: 1;
}
.box8 {
  background-color: yellow;
  position: absolute;
  width: 20px;
  height: 35px;
  top: 810px;
  right: -8420px;
  z-index: 1;
}

/* skateboard css */
.ad1 {
  display: block;
  position:absolute;
  top: 220px;
  right: -180px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  right: 0;
  height: 200px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.ad1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
}
